@page "/customerDetails/{customerId:int?}"

@inject ICustomerService _customerService
@inject IValueService _valueService;
@inject NavigationManager Navigation

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-start">
                <h3>New Customer</h3>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary" @onclick="() => NavigateToCustomersList()">
                    Customers List
                </button>
            </div>
        </div>
    </div>
</div>

<EditForm class="form-inline row g-3  my-2" Model="@CustomerModel" OnValidSubmit="AddCustomer">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-sm-4">
            <div class="mb-3">
                <InputText class="form-control mx-2" @bind-Value="CustomerModel.Name" Placeholder="Name" />
            </div>
            <div class="mb-3">
                <InputNumber class="form-control mx-2" @bind-Value="CustomerModel.MpCode" Placeholder="MpCode" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <InputText class="form-control mx-2" @bind-Value="CustomerModel.Street" Placeholder="Street" />
            </div>
            <div class="mb-3">
                <InputNumber class="form-control mx-2" @bind-Value="CustomerModel.SerialNo" Placeholder="SerialNo" />
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Customers List</h3>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    MpCode
                </th>
                <th>
                    Street
                </th>
                <th>
                    Serial No
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in CustomersList)
            {
                <tr>
                    <td>
                        @customer.Name
                    </td>
                    <td>
                        @customer.MpCode
                    </td>
                    <td>
                        @customer.Street
                    </td>
                    <td>
                        @customer.SerialNo
                    </td>
                    <td>
                        <button class="btn btn-outline-primary btn-sm btn-sm"
                                @onclick="() => NavigateToValuesList(customer.ExternalCode)">
                            Values List
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-success btn-sm btn-sm"
                                @onclick="() => NavigateToValuesDetails(customer.ExternalCode)">
                            Values Details
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-warning btn-sm col-auto"
                                @onclick="() => NavigateToUpdateCustomer(customer.ExternalCode)">
                            Update
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm col-auto"
                                @onclick="() => DeleteCustomer(customer.ExternalCode)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private void NavigateToCustomersList() => Navigation.NavigateTo("/");
    private void NavigateToValuesList(int? Id) => Navigation.NavigateTo($"valuesList/{Id}");
    private void NavigateToValuesDetails(int? Id) => Navigation.NavigateTo($"valueDetails/{Id}");
    private void NavigateToUpdateCustomer(int Id) => Navigation.NavigateTo($"updateCustomer/{Id}");

    [Parameter]
    public int CustomerId { get; set; }
    public List<Customer> CustomersList;
    public DisplayCustomerModel CustomerModel = new DisplayCustomerModel();
    public List<Value> ValuesList;

    //load all customers, show valid operations
    protected override async Task OnInitializedAsync()
    {
        CustomersList = await _customerService.GetAllCustomersAsync();
    }

    private async Task AddCustomer()
    {
        Customer Customer = new Customer
        {
            MpCode = CustomerModel.MpCode,
            Name = CustomerModel.Name,
            SerialNo = CustomerModel?.SerialNo,
            Street = CustomerModel?.Street,
            Values = ValuesList
        };
        await _customerService.AddCustomerAsync(Customer);
        CustomersList.Add(Customer);
    }

    private async Task DeleteCustomer(int CustomerId)
    {
        await _customerService.DeleteCustomerAsync(CustomerId);

        //call OnInitializedAsync to refresh the list
        await OnInitializedAsync();
    }
}
