@page "/valueDetails/{customerId:int}"
@using DataAccess.Library
@using DataAccess.Library.Services
@inject ICustomerService _customerService
@inject IValueService _valueService;
@inject NavigationManager Navigation

    <BarChart @ref="barChart" Width="500" Height="300" />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-start">
                <h3>New Value</h3>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary" @onclick="() => NavigateToValuesList(CustomerId)">
                    Values List
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <EditForm class="form-inline row g-3" Model="@ValueModel" OnValidSubmit="AddValues">
                <InputNumber class="form-control mx-2" @bind-value="ValueModel.Reg1Value" Placeholder="Reg1Value" />
                <InputDate class="form-control mx-2" @bind-value="ValueModel.RegDate" Placeholder="RegDate" />
                <InputText class="form-control mx-2" @bind-Value="ValueModel.ValueTypeDescription" Placeholder="ValueTypeDescription" />
                <InputText class="form-control mx-2" @bind-Value="ValueModel.ValueTypeUnit" Placeholder="ValueTypeUnit" />
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6  my-3">
                <div class="d-flex justify-content-start">
                    <h3>Values List for customer: @SelectedCustomer?.Name </h3>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Reg1Value
                    </th>
                    <th>
                        RegDate
                    </th>
                    <th>
                        VlueTypeDescription
                    </th>
                    <th>
                        ValueTypeUnit
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var value in SelectedCustomer?.Values)
                {
                    <tr>
                        <td>
                            @value.Reg1Value
                        </td>
                        <td>
                            @value.RegDate
                        </td>
                        <td>
                            @value.ValueTypeDescription
                        </td>
                        <td>
                            @value.ValueTypeUnit
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {

    private void NavigateToValuesList(int? Id) => Navigation.NavigateTo($"valuesList/{Id}");

    [Parameter]
    public int CustomerId { get; set; }
    private DisplayValueModel ValueModel = new DisplayValueModel();
    public Customer? SelectedCustomer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SelectedCustomer = await _customerService.GetCustomerByIdAsync(CustomerId);
        if (SelectedCustomer.Values is null)
        {
            SelectedCustomer.Values = new List<Value>();
        }
    }

    private async Task AddValues()
    {
        Value Value = new Value
        {
            Reg1Value = ValueModel.Reg1Value,
            RegDate = ValueModel.RegDate,
            ValueTypeDescription = ValueModel.ValueTypeDescription,
            ValueTypeUnit = ValueModel.ValueTypeUnit,
        };
        await _valueService.AddValueAsync(Value);
        SelectedCustomer?.Values?.Add(Value);
    }
}
