@page "/ValueDetails"
@using DataAccess.Library
@using DataAccess.Library.Services
@inject ICustomerService _customerService
@inject IValueService _valueService;
@inject NavigationManager Navigation

<h3>New Value</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <EditForm class="form-inline my-2 row g-3" Model="@valueModel" OnValidSubmit="AddValues">
                @* TODO add lables for all properies *@
                <InputNumber class="form-control mx-2 my-2" @bind-value="valueModel.reg1Value" />
                <InputDate class="form-control mx-2 my-2" @bind-value="valueModel.regDate" />
                <InputText class="form-control mx-2 my-2" @bind-Value="valueModel.valueTypeDescription" />
                <InputText class="form-control mx-2 my-2" @bind-Value="valueModel.valueTypeUnit" />
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">New Value</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@* <h4>Values List</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Reg1Value
            </th>
            <th>
                RegDate
            </th>
            <th>
                VlueTypeDescription
            </th>
            <th>
                ValueTypeUnit
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var value in valuesList)
        {
            <tr>
                <td>
                    @value.reg1Value
                </td>
                <td>
                    @value.regDate
                </td>
                <td>
                    @value.valueTypeDescription
                </td>
                <td>
                    @value.valueTypeUnit
                </td>
            </tr>
        }
    </tbody>
</table> *@


@code {
    public List<Value> valuesList;
    private DisplayValueModel valueModel = new DisplayValueModel();

    protected override async Task OnInitializedAsync()
    {
        //customerList = await _customerService.GetAllCustomersAsync();
        valuesList = await _valueService.GetAllValuesAsync();
    }
    private async Task AddValues()
    {
        Value value = new Value
        {
            reg1Value = valueModel.reg1Value,
            regDate = valueModel.regDate,
            valueTypeDescription = valueModel.valueTypeDescription,
            valueTypeUnit = valueModel.valueTypeUnit
        };
        await _valueService.AddValueAsync(value);
        valuesList.Add(value);
    }
}
